body {
  background-color: #242424;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: auto;
}

#root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#nav {
  margin: 2rem 0;
}

#nav-link {
  color: #ffffff;
  padding: 0 2rem;
}

header p {
  font-size: 20px;
}

h1 {
  font-size: 40px;
  font: Verdana;
  transform: translateY(9px);
}

h2 {
  color: #ffffff;
  text-align: center;
}

h3 {
  color: #ffffff;
  font: tahoma;
}

#about-content {
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 8px;
}

#about-content:hover {
  transform: translateX(4px) translateY(4px);
  box-shadow: 0.5rem -0.5rem -0.5rem black;
}

#about-photo {
  border-radius: 8px;
  border: 8px black;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
}

#resume {
  border-radius: 8px;
}

#resume:hover {
  transform: translateX(4px) translateY(4px);
  box-shadow: 0.5rem -0.5rem -0.5rem black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
